<!--<h1>Welcome</h1>
<b>
  My name:{{name}}
  <br>
  My age:{{age}}
  <br>
  Email:<input type="text" value="{{email}}"/>
  <br>
  Addition:{{getAddition(20,40)}}
</b>
<h1>property binding example</h1>
<font [color]="txtColor">
My name:<input type="text"[value]="name"/>
<br>
My age:<input type="text"[value]="age"/>
<br>
My Email:<input type="text"[value]="email"/>
<br><br>
My Addition:<input type="text"[value]="getAddition(20,40)"/>
<br><br>
<img [src] = "imgPath" width="200" height="150"/>
</font>
<h1>even binding example</h1>
<br><br>
<button (click)="changename()">change name</button>
<br><br>
<button (click)="changeage()">change age</button>
<br><br>
<button (click)="changeemail()">change email</button>
<br>
<h1>Two Way Data Binding Example</h1>
enter your first name<input type="text" [(ngModel)]="fname"/>
<br>
<b>welcome{{fname}}</b>
<br>
-->

<!--<h1>Angular Structural Directives</h1>
<button (click)="changeFlag()">Show or Hide Div</button>
<br>
<div *ngIf="flag" [ngStyle] = "myStyle">
   <ul>
    <li *ngFor = "let vec of vehicles" (click)="setselectedItem(vec)">{{vec}}</li>
   </ul>
   <br>
   <b [ngClass]="myClass">selected item:{{selectedVehicle}}</b>
   <br>
   <div [ngSwitch]="selectedVehicle">
    <font color="red" *ngSwitchCase="'Bike'">Honda<br>Yamaha</font>
    <font color="crimson" *ngSwitchCase="'Auto'">Shareauto<br>Normalauto</font>
    <font color="green" *ngSwitchCase="'Car'">Mahindra<br>Swift</font>

   </div>
</div>
<br>
<button (click)="changeFlag()">Show or Hide</button>
<br>
-->

<!--<table width="80%" align="center">
  <tr>
    <th><a routerLink="/home">Home</a></th>
    <th><a routerLink="/contact">contact</a></th>
    <th><a routerLink="/about">About Us</a></th>
  </tr>
</table>
<br>
<div>
  This is place to load a new Components.
  <router-outlet></router-outlet>
</div>
-->

<h1>
  Addition:{{sum}}

  <app-child></app-child>
</h1>