<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microproject</title>
</head>
<body>
  <h1>Movie Data</h1>
  <div class="container">
    <form id="Data-form"></form>
      <div class="form-group">
        <lable for="Movie name">Movie name</lable>
        <input type="text" id="category" id="Data-form" required>
      </div>
      <div class="form-group">
        <label for="Released Year">Released Year</label>
        <input type="number" id="Released Year" required>
      </div>
      <div class="cast">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">Cast<span class="caret"></span>

        <ul class="dropdown menu">
            <li><a href="#">Hero</a></li>
            <li><a href="#">Heroine</a></li>
            <li><a href="#">Supportive role</a></li>
            <li><a href="#">Comedian</a></li>
        </ul>
      </button>
    </div>
</body>
</html>